body {
    padding-top: 150px;
    width: 550px;
    margin: auto;
    font-family: "impact";
}

h1 {
    font-family: "stencil";
    text-align: center;
}

#button-container {
    height: 20px;
}

#button-container a:first-child {
    margin-left: 50px;
    float: left;
}

#button-container a:last-child {
    float: right;
}

.row {
    width: 550px;
    display: flex;
    flex-direction: horizontal;
}

.tile {
    font-family: "impact";
    font-style: italic;
    text-align: center;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}

.y-index {
    padding-top: 15px;
    border-bottom: 2px dashed black;
}

.x-index {
    padding-top: 15px;
    border-left: 2px dashed black;
}

.shot {
    width: 50px;
    height: 50px;
}

.unknown {
    background-image: url("../images/unknown.png");
}

.water {
    background-image: url("../images/water.png");
}

.ship {
    background-image: url("../images/ship.png");
}

.submarine {
    background-image: url("../images/submarine.png");
}

.carrier {
    background-image: url("../images/carrier.png");
}

.destroyer {
    background-image: url("../images/destroyer.png");
}

.cruiser {
    background-image: url("../images/cruiser.png");
}

.ship .shot {
    background-image: url("../images/explosion.png");
}

.water .shot {
    background-image: url("../images/splash.png");
}
