.row {
    display: flex;
    flex-direction: horizontal;
}

.tile {
    width: 50px;
    height: 50px;
}

.shot {
    width: 50px;
    height: 50px;
}

.water {
    background-image: url("../images/water.png");
}

.ship {
    background-image: url("../images/ship.png");
}

.submarine {
    background-image: url("../images/submarine.png");
}

.ship .shot {
    background-image: url("../images/explosion.png");
}

.water .shot {
    background-image: url("../images/splash.png");
}
